.key-advantage{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.key-advantage h2{
    font-size: 2rem;
    color: #275682;
}
.key-advantage ul {
    display: flex;
    padding: 2rem 10rem;
    justify-content: space-between;
}
.key-advantage ul li{
    list-style: none;
    min-width: 10rem;
    color: gray;
}

.key-advantage ul li img{
    width: 6rem;
}
.how-we-work{
    display: flex;
    padding: 3rem;
    background-color: #0c3255;
    text-align: center;
    color: white;
    justify-content: center;
}
.how-we-work-body{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0rem 3rem;
}
.how-we-work-img{
    display: flex;
    flex-direction: column;
}
.how-we-work-img h5{
    background-color: rgb(25, 160, 25);
    color: white;
    padding: 0.6rem;
    letter-spacing: 1px;
}
.how-we-work-body h3{
    color: white;
    text-align: left;
}
.how-we-work-body p {
    text-align: justify;
    font-size: 1.1rem;
}